# Data Science Tools and Ecosystem

## Author
Sundar Dittakavi

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages used for Data Science
- List of libraries used by Data Scientists
- List of tools used for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools  |
|---------------------|
| 1.Jupyter Notebooks |
| 2.R Studio          |
| 4.Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335